<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269887494687-91o3dbmjdhd5qo0cbmv8bi1e9tubvuar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269887494687-91o3dbmjdhd5qo0cbmv8bi1e9tubvuar</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269887494687-831tbo9uom8vsu781buvaohvhtr0qejp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsyY_g700W_wiUy08QeAZ9wMBoHueCCRk</string>
	<key>GCM_SENDER_ID</key>
	<string>269887494687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Navig8Connect</string>
	<key>PROJECT_ID</key>
	<string>demofibase-9e6a4</string>
	<key>STORAGE_BUCKET</key>
	<string>demofibase-9e6a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269887494687:ios:ee5c3691805112e5df132a</string>
	<key>DATABASE_URL</key>
	<string>https://demofibase-9e6a4.firebaseio.com</string>
</dict>
</plist>